<h2 id="title">My Burger List!</h2>

<form id="newBurger">
    <input id="newBurgerName" type="text" placeholder="Enter the name of a burger you want to try.">
    <button type="submit">Add To List</button>
</form>

<h4 id="toEat">Burgers I want to eat</h4>

<ul id="toEatList">
    {{#each burgers}}
    {{#unless devoured}}
        <li class="nonDevoured">
            <span>{{this.burger_name}}</span>
            <button type="button" class="devourBurger" data-id="{{this.id}}" data-newDevoured="{{devour}}">Burger</button>
        </li>
    {{/unless}}
    {{/each}}
</ul>

<h4 id="eaten">Burgers I have eaten</h4>

<ul id="eatenList"> 
    {{#each burgers}}
    {{#if devoured}}
        <li class="devoured">
            <span>{{this.burger_name}}</span>
            <button type="button" class="removeBurger" data-id="{{this.id}}" data-newDevoured="{{devour}}">Remove</button>
        </li>
    {{/if}}
    {{/each}}
</ul>

<footer id="footer">Burgers are good, go eat one!</footer>